{{ $data := index site.Data site.Language.Lang }}

{{ if $data.service.service.enable}}
{{ with $data.service.service}}
{{"<!-- service -->" | safeHTML }}
<section id="services" class="bg-one section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-12">
				{{"<!-- section title -->" | safeHTML }}
				<div class="title text-center wow fadeIn" data-wow-duration="500ms">
					<h2>{{ with .title }} {{ index (split . " ") 0 | safeHTML }} {{ end }}<span class="color">
						{{ with .title }} {{ after (len (index (split . " ") 0)) . | safeHTML }} {{ end }}</span></h2>
					<div class="border-meghna"></div>
				</div>
			</div>
			{{"<!-- /section title -->" | safeHTML }}


<!-- Insert Yumpu portfolio viewer using the iFrame code,
without using the shortcode I created-->

<iframe width="940px" height="501px" src="https://www.yumpu.com/en/embed/view/jRJlnhSfAxFoDyum"
frameborder="0" allowfullscreen="true"  allowtransparency="true"></iframe>
<br>
<a
href="https://www.yumpu.com/en/document/view/65697677/structural-architecture-portfolio-2015-2020"
title="Structural Architecture Portfolio 2015 – 2020" target="_blank">Structural Architecture Portfolio 2015 – 2020
</a>
<br>

			{{ range .service_item}}
			{{"<!-- Single Service Item -->" | safeHTML }}
			<article class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-duration="500ms">
				<div class="service-block text-center">
					<div class="service-icon text-center">
						<i class="{{ .icon }}"></i>
					</div>
					<h3>{{ .name | markdownify }}</h3>
					<p>{{ .content | markdownify }}</p>
				</div>
			</article>
			{{"<!-- End Single Service Item -->" | safeHTML }}
			{{ end }}
		</div>
	</div>
</section>
{{"<!-- /service -->" | safeHTML }}
{{ end }}
{{ end }}
